{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}
{% endif %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Amount" type="text">
            <button class="btn btn-primary" type="submit">Buy</button>
        </div>
    </form>
{% endblock %}
